.usercart-container {
    width: 20rem;
    border-radius: 0.25rem;
    box-shadow: 0 0 10px 0 rgb(95 94 94 / 75%);
    font-size: 1.2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.usercart-container-header {
    display: flex;
    justify-content: space-between;
}

.cart-product-container {
    flex-grow: 1;
    justify-content: flex-start;
    margin-top: 1rem;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.usercart-container-footer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.cross {
    width: 15px;
}

.home-calender-section-light-pills {
    display: flex;
    gap: 0.5rem;
    color: var(--secondary-text);

}

.your-cart {
    display: flex;
    gap: 0.5rem;
    font-weight: bold;
}

.home-calender-section-dark-pills {
    display: flex;
    gap: 0.5rem;
    cursor: pointer;
    color: black;

}

.order-btn-section {
    display: flex;
    justify-content: center;
    align-items: center;

}

.grey-order-btn {
    background-color: var(--grayish-bg);
    color: white;
    border: none;
    padding: 0.5rem;
}

.order-btn {
    padding: 0.5rem;
    cursor: pointer;
    background-color: black;
    color: white;
}

.cart-sub-container {
    display: flex;
    position: relative;
}

.dismiss-icon {
    border-radius: 3.125rem;
    bottom: 6rem;
    color: red;
    cursor: pointer;
    font-size: 1.5rem;
    left: 0;
    padding: 0.14rem;
    position: absolute;
    right: 0
}

.cart-product-img {
    height: 8rem;
    width: 9rem;
    object-fit: contain;
}

.cart-info {
    margin-left: 0.5rem;
}

.product-name {
    font-size: 1.2rem;
}

.product-desc {
    margin-top: -1rem;
}

@media (max-width: 1200px) {


    .usercart-container {
        margin: 0 auto;
        width: 85%;
        padding: 1rem;
        display: flex;
        box-sizing: border-box;
    }

    .order-btn-section {
        justify-content: flex-start;
    }

    .cart-product-container {
        margin-top: 1rem;
        gap: 1rem;
        justify-content: flex-start;
        align-items: flex-start;
    }

}