.usercart-container {
    width: 20rem;
    border-radius: 0.25rem;
    box-shadow: 1px 1px 10px 5px #f1f5f9;
    font-size: 1.2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.usercart-container-header {
    display: flex;
    justify-content: space-between;
}

.cart-product-container {
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    display: flex;
}

.usercart-container-footer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.home-calender-section-pills {
    display: flex;
    gap: 0.5rem;
    color: var(--secondary-text);
    cursor: pointer;

}

.order-btn-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-btn {
    background-color: var(--grayish-bg);
    color: white;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
}