.store-container {
    display: flex;
    gap: 0.5rem;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}

.filters-container {
    font-size: 1.2rem;
    padding: 1rem;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    width: 20rem;
    border-radius: 0.25rem;
    box-shadow: 1px 1px 10px 5px #f1f5f9;

}

.filter-clearfilter-btns {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.cost-filter {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.product-type-filter {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.design-template-filter {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.color-filter {
    display: flex;
    gap: 1rem;
}

.color-box {
    width: 25px;
    height: 25px;
}

.red {
    background-color: var(--red-color);
}

.green {
    background-color: var(--green-color);
}

.blue {
    background-color: var(--blue-color);
}

.lime-yellow {
    background-color: var(--lime-yellow);
}

.yellow {
    background-color: var(--yellow-color);
}