.products-container {
    border-radius: 0.25rem;
    box-shadow: 1px 1px 10px 5px #f1f5f9;
    font-size: 1.2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
}

.product-cards-container {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.products-container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header-btns {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.sortby-btn {
    height: 1.5rem;
    background: transparent;
    cursor: pointer;
}

.each-product-card {
    width: 13rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.product-img {
    height: 10rem;
    object-fit: contain;
}

.product-card-title {
    font-size: 1.3rem;
    font-weight: bold;
}

.card-details {
    display: flex;
    justify-content: space-between;
}