.navbar-container {
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    font-size: 1.125rem;
    align-items: center;
}

.logo {
    height: 2.5rem;
}

.nav-pills-container {
    display: flex;
    gap: 2rem;
    cursor: pointer;
}

.user-profile-pill {
    display: flex;
    gap: 1rem;
    align-items: center;
}