body {
    margin: 0;
    font-family: 'Gobold_Regular', 'Product_Sans',
}

:root {
    --red-color: #F44336;
    --green-color: #4CAF50;
    --yellow-color: #FF9800;
    --black-color: #1e293b;
    --blue-color: #3b82f6;
    --lime-yellow: #ca8a04;
    --secondary-text: #909090;
    --grayish-bg: #959393;
}